:root {
    --theme-primary: #e60000;
    --theme-secondary: #800000;
}

.menu-frame {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0px;
    z-index: 2;
}

@media screen and (min-width: 769px) {
    .menu-frame {
        box-sizing: border-box;
        padding: var(--theme-element-spacing);
        background: linear-gradient(0deg, transparent 0%, #00000080 100%);
    }

    .menu {
        max-width: calc(1200px - var(--theme-element-spacing) * 2);
        margin: 0px auto;
        border-radius: var(--theme-border-radius);
    }
}

.menu a {
    color: white;
}

.menu a:hover:not(.menu-title) {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: calc(100px + var(--theme-element-spacing));
}
 
#quote {
    font-size: 25px;
    color: var(--theme-primary);
    text-shadow: 0 0 5px var(--theme-primary);
    font-family: 'Roboto Mono', monospace;
}

#profile-bar {
    margin-top: 50px;
}

#profile-bar a {
    width: 100%;
}

.skill {
    bottom: 20px !important;
}

.skill *:last-child {
    font-size: 12px;
}

.project-name {
    background-color: #000000a0;
    padding: 2px 8px;
    border-radius: var(--theme-border-radius);
}