:root {
    --theme-primary: #ff0000;
    --theme-secondary: #800000;
}

.footer {
    background-color: var(--theme-grey-primary);
}

.footer .container {
    padding: var(--theme-element-spacing) calc(var(--theme-element-spacing) * 2);
    display: flex;
    gap: var(--theme-element-spacing);
    margin-bottom: 0px;
    color: #808080;
}

.footer .container h6{
    margin: 0px;
    margin-bottom: 10px;
}

.footer .container a{
    color: #808080;
}
 
#quote {
    font-size: 25px;
    color: var(--theme-primary);
    font-family: 'Roboto Mono', monospace;
}

#profile-bar {
    margin-top: 50px;
}

#profile-bar a {
    width: 100%;
}

.project-box .box-bottom a {
    display: block;
    margin-left: auto;
}

.parallax {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}

.parallax-content{
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 300px;
}

#project-bar {
    padding-top: var(--theme-element-spacing);
    padding-bottom: var(--theme-element-spacing);
    margin-bottom: 0px;
}