:root {
    --theme-primary: #e60000;
    --theme-secondary: #800000;
}

.menu-frame {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0px;
    z-index: 2;
}

@media screen and (min-width: 769px) {
    .menu-frame {
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0px auto;
        padding: var(--theme-element-spacing);
        background: linear-gradient(0deg, transparent 0%, black 100%);
    }

    .menu {
        border-radius: var(--theme-border-radius);
    }
}

.menu a {
    color: white;
}

.menu a:hover:not(.menu-title) {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: calc(100px + var(--theme-element-spacing));
}
 
#quote {
    font-size: 25px;
    color: var(--theme-primary);
    font-family: 'Roboto Mono', monospace;
}

#profile-bar {
    margin-top: 50px;
}

#profile-bar a {
    width: 100%;
}

.skill {
    background-color: var(--theme-grey-primary);
    border-radius: var(--theme-border-radius);
    padding: 10px 15px;
    cursor: pointer;
}

.skill *:first-child {
    font-size: 22px;
}

.skill *:last-child {
    font-size: 12px;
}

.project-box .box-bottom a {
    display: block;
    margin-left: auto;
}

.parallax {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}

.parallax-content {
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 1;
    top: 300px;
}

#project-bar {
    padding-top: var(--theme-element-spacing);
    padding-bottom: var(--theme-element-spacing);
    margin-bottom: 0px;
}